body{
    margin:auto;
    width: 90%;
    background-size: 1em;
}

h1{
    position: relative;    
    top: -75px;
    color: rgb(28, 36, 53);
    padding: 15px 25px;
    background-color: white;
    width:500px;
    border-radius: 0 35px 35px 0;
    margin-bottom: -75px;
}

h1, h2, h3, h4 {
    letter-spacing: 2px;
}

.carousel-inner img {
    width: 100%;
    height: 90%;
    
}

