body{
    margin:auto;
    width: 90%;
    background-size: 1em;
}

h1{
    position: relative;    
    top: -75px;
    color: rgb(28, 36, 53);
    padding: 15px 25px;
    background-color: white;
    width:500px;
    border-radius: 0 35px 35px 0;
    margin-bottom: -75px;
}

h1, h2, h3, h4 {
    letter-spacing: 2px;
}

.carousel-inner img {
    width: 50%;
    height: 90%;
    
}

#képtár {
    display: block;
    margin-top: 15px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

p{
    text-indent: 25px;
    text-align: justify;
}

